.container {
}

.container select {
  width: 10rem;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  border-radius: 0.3rem;
  position: absolute;
  left: 3.5rem;
}

.mainContent {
  margin-top: 3rem;
  padding: 2rem;
}

.mainContent h2 {
  margin-bottom: 3rem;
  color: white;
}
