.container {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.leftSide {
  flex: 8;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.controls {
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
}
.arrowLeft {
  margin-right: 2rem;
}

@media only screen and (max-width: 1500px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .leftSide {
    margin-bottom: 3rem;
  }

  .rightSide {
    width: 50%;
  }
}
