.container {
  z-index: 1;
  position: fixed;
  height: 5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: black;
  top: 0;
  left: 0;
}

.navBackground {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.navBackground img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-register a {
  text-decoration: none;
}
.loggedInUser-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 3;
  font-size: 2rem;
}
.connectedAs p {
  font-size: 0.9rem;
}

.connectedAs h4 {
  font-style: italic;
}

.logOut {
  font-size: 1.1rem;
}

.logOut:hover {
  color: red;
  cursor: pointer;
}
.login-register {
  flex: 2;
  font-size: 1.5rem;
}

.login-register a:nth-child(1) {
  margin-right: 1.5rem;

  color: white;
}

.login-register a:nth-child(1):hover {
  border-bottom: 1px solid white;
}

.login-register a:nth-child(2) {
  margin-right: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(56, 89, 207);
  background-color: rgb(40, 190, 133);
}

.logoContainer {
  flex: 2;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 7;
}

.searchContainer input {
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.searchContainer input:focus {
  border: none;
  outline: none;
}

@media only screen and (max-width: 1300px) {
  .logoContainer {
    display: none;
  }

  .container select {
    width: 10rem;
    display: flex;
    flex-direction: row;
  }
}
